@import url('https://fonts.googleapis.com/css?family=Font+Name');

body {
  background-color: #252422 !important;
  font-family: sans-serif !important;
  color: aliceblue;
  
}

.contact-img{
 border-radius: 50% !important;
}